@import "../../../packages/ui/src/styles/globals.css";

:root { 
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    --cell-size: 40px;
    --dark-yellow: #55650a;
    --light-yellow: #c7f80d;
  } 
    @media (max-width: 480px) {
    :root {
      --cell-size: 28px;
    }
}

.header-container {
  @apply flex justify-center relative w-full h-[8rem] gap-2 items-center bg-gray-900 px-2 select-none text-white;
}

.nav-container {
  @apply flex items-center h-[60%] rounded-lg bg-gray-800 shadow-black shadow-[inset_0_1px_3px_rgba(0,0,0,0.1),inset_0_-1px_3px_rgba(0,0,0,0.1),inset_1px_0_3px_rgba(0,0,0,0.1),inset_-1px_0_3px_rgba(0,0,0,0.1)];
}

.nav-marker {
  @apply absolute opacity-0 top-[20%] left-[50%] -translate-x-1/2 w-[3.6rem] h-[50px] border-t-(--light-yellow) border-t-2 border-l-(--light-yellow) border-l-2 rounded-[15px] bg-(--dark-yellow) shadow-[0_0_0_6px_rgb(17,24,39),0_2px_0_5px_var(--light-yellow)];
}

.nav-marker::before {
  content: '';
  @apply absolute top-[28%] -left-[32%] w-[10px] h-[10px] bg-transparent rounded-tr-lg shadow-[3px_-3px_0_2px_rgb(17,24,39)];
}

.nav-marker::after {
  content: '';
  @apply absolute top-[28%] -right-[29%] w-[10px] h-[10px] bg-transparent rounded-tl-lg shadow-[-3px_-3px_0px_1px_rgb(17,24,39)];
}

.nav-marker-label {
  @apply absolute transition-all duration-300 ease-in-out top-[74px] left-[50%] -translate-x-1/2 h-[30px] bg-[var(--dark-yellow)] rounded-[20px] border-t-2 border-t-(--light-yellow) shadow-[0_0_0_5px_rgb(17,24,39),0_-2px_0_4px_var(--light-yellow)];
}
